@import '../../styles/_colors.scss';
@import '../../styles/_layout.scss';

.name-container {
    font-size: 30px;
    font-weight: bold;
    margin: 2rem 0;
}

.favorite-color-container {
    font-size: $font-size;
    color: $darkGrey;
}
